body,
html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.content {
    padding-top: 200px;
}

.title-container {
    margin-top: 250px;
    animation:
        fadeIn 2s ease-out forwards,
        popUpLoop 7s ease-in-out infinite 2s;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
    font-weight: 180;
}

.subtitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
    font-weight: 180;
    margin-top: 20px;
}

/* リンクの色を白に変更 */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 他のコンポーネント固有のスタイルをここに追加 */

body,
html {
    height: 100%;
}

.container {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    /* ボタンを縦方向に配置 */
    align-items: center;
    /* ボタンを中央揃え */
    gap: 100px;
    /* ボタン間の間隔 */
    margin-top: auto;
    padding-top: 100px;
    margin-bottom: 150px;
    /* この行を追加 */
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    /* より大きな値に変更 */
    font-family: 'Arial';
    letter-spacing: 4px;
    font-weight: 180;
    transition: background-color 0.3s ease;
    width: 150px;
    /* ボタンの幅を固定 */
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom-space {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 100%);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.bottom-text {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 0.8;
        transform: scale(0.9);
    }
}

@keyframes popUpLoop {

    0%,
    100% {
        opacity: 0.8;
        transform: scale(0.9);
    }

    50% {
        opacity: 1.0;
        transform: scale(1);
    }
}