body,
html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.content {
    padding-top: 200px;
}

.title-container {
    margin-top: 250px;
    animation: popUp 5s ease forwards;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
    font-weight: 180;
}

.subtitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
    font-weight: 180;
    margin-top: 20px;
}

/* リンクの色を白に変更 */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 他のコンポーネント固有のスタイルをここに追加 */

body,
html {
    height: 100%;
}

.container {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    /* ボタンを縦方向に配置 */
    align-items: center;
    /* ボタンを中央揃え */
    gap: 100px;
    /* ボタン間の間隔 */
    margin-top: auto;
    padding-top: 100px;
    margin-bottom: 150px;
    /* この行を追加 */
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    /* より大きな値に変更 */
    font-family: 'Arial';
    letter-spacing: 4px;
    font-weight: 180;
    transition: background-color 0.3s ease;
    width: 150px;
    /* ボタンの幅を固定 */
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom-space {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 100%);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.bottom-text {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    1% {
        opacity: 0.01;
        transform: scale(0.802);
    }

    2% {
        opacity: 0.02;
        transform: scale(0.804);
    }

    3% {
        opacity: 0.03;
        transform: scale(0.806);
    }

    4% {
        opacity: 0.04;
        transform: scale(0.808);
    }

    5% {
        opacity: 0.05;
        transform: scale(0.81);
    }

    6% {
        opacity: 0.06;
        transform: scale(0.812);
    }

    7% {
        opacity: 0.07;
        transform: scale(0.814);
    }

    8% {
        opacity: 0.08;
        transform: scale(0.816);
    }

    9% {
        opacity: 0.09;
        transform: scale(0.818);
    }

    10% {
        opacity: 0.1;
        transform: scale(0.82);
    }

    11% {
        opacity: 0.11;
        transform: scale(0.822);
    }

    12% {
        opacity: 0.12;
        transform: scale(0.824);
    }

    13% {
        opacity: 0.13;
        transform: scale(0.826);
    }

    14% {
        opacity: 0.14;
        transform: scale(0.828);
    }

    15% {
        opacity: 0.15;
        transform: scale(0.83);
    }

    16% {
        opacity: 0.16;
        transform: scale(0.832);
    }

    17% {
        opacity: 0.17;
        transform: scale(0.834);
    }

    18% {
        opacity: 0.18;
        transform: scale(0.836);
    }

    19% {
        opacity: 0.19;
        transform: scale(0.838);
    }

    20% {
        opacity: 0.2;
        transform: scale(0.84);
    }

    80% {
        opacity: 0.8;
        transform: scale(0.96);
    }

    81% {
        opacity: 0.81;
        transform: scale(0.962);
    }

    82% {
        opacity: 0.82;
        transform: scale(0.964);
    }

    83% {
        opacity: 0.83;
        transform: scale(0.966);
    }

    84% {
        opacity: 0.84;
        transform: scale(0.968);
    }

    85% {
        opacity: 0.85;
        transform: scale(0.97);
    }

    86% {
        opacity: 0.86;
        transform: scale(0.972);
    }

    87% {
        opacity: 0.87;
        transform: scale(0.974);
    }

    88% {
        opacity: 0.88;
        transform: scale(0.976);
    }

    89% {
        opacity: 0.89;
        transform: scale(0.978);
    }

    90% {
        opacity: 0.9;
        transform: scale(0.98);
    }

    91% {
        opacity: 0.91;
        transform: scale(0.982);
    }

    92% {
        opacity: 0.92;
        transform: scale(0.984);
    }

    93% {
        opacity: 0.93;
        transform: scale(0.986);
    }

    94% {
        opacity: 0.94;
        transform: scale(0.988);
    }

    95% {
        opacity: 0.95;
        transform: scale(0.99);
    }

    96% {
        opacity: 0.96;
        transform: scale(0.992);
    }

    97% {
        opacity: 0.97;
        transform: scale(0.994);
    }

    98% {
        opacity: 0.98;
        transform: scale(0.996);
    }

    99% {
        opacity: 0.99;
        transform: scale(0.998);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}