.youtube-link a {
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    justify-content: center;
    /* 水平方向の中央揃え */
    text-decoration: none;
    color: white;
    /* テキストの色 */
    background-color: #000;
    /* 背景色をYouTubeの赤色に */
    padding: 10px 50px;
    /* パディングを調整 */
    border-radius: 20px;
    /* ボタンの角を丸く */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* 影を追加 */
    transition: background-color 0.3s;
    /* 背景色の変化を滑らかに */
    margin-left: 50%;
    margin-right: 50%;
}

.youtube-link a:hover {
    background-color: #cc0000;
    /* ホバー時の背景色 */
}

.youtube-link a span {
    margin-left: 10px;
    /* アイコンとテキストの間隔 */
}